@import "~bootstrap/dist/css/bootstrap.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css";
@import "~react-image-gallery/styles/css/image-gallery.css";
@import url("http://fonts.cdnfonts.com/css/gotham");
/* 
font-family: 'Gotham', sans-serif;
font-family: 'Gotham Black', sans-serif;
font-family: 'Gotham Light', sans-serif;
font-family: 'Gotham Thin', sans-serif;
font-family: 'Gotham XLight', sans-serif;
font-family: 'Gotham Book', sans-serif;
font-family: 'Gotham Ultra', sans-serif;
*/
* {
  font-family: "Gotham Light", sans-serif;
}
.image-gallery-icon:hover {
  color: #df2027;
}
